<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">HeroWeb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="home">Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="heroes">Heroes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="villanos">Villano</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="versus">Versus
        </a>
      </li>
      <li class="nav-item dropdown izq" [hidden] = "btnCerrarSesionClass()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hola, {{this.txtCorreo}}
        </a>
        <div class="dropdown-menu dropdown-menu-right bg-dark"  aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="color:whitesmoke" (click)="CerrarSesion()">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>