
.Hero-header-image {

  background-size: cover;
}
.Avatar {
  /*tamaño de tu círculo */
  height: 400px;
  width: 600px;
  /*valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
 /* border-radius: 50%;*/
  background-size: 100% auto;
  align-items: center;
}
.cardLeft{

  margin-left: 60px;
}

.SearchBarSize
{
  height: 50px;
}
.ClassImagenRadio {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.recuadroAccordeon {
  padding: 10px;
  border: 1px solid lightgreen;
  /* background-color: darkslateblue */
}
.favorito {
  color: yellow;
}
.noFavorito {
  color: gray;
}

.no-hidden{
  position: fixed;
  bottom: 50px;
  right: 10px;
  visibility: visible;
}



section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.alinear{
 align-items:left;
}