<br>
<mat-accordion class="hero-card bg-dark">
  <mat-expansion-panel hideToggle *ngFor="let item of heroes">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <img class="ClassImagenRadio" src="{{item.images}}" alt="{{item.name}}">
      </mat-panel-title>
      <mat-panel-description>
        {{item.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-accordion>
      <mat-expansion-panel hideToggle appMouseDirective>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Apariencia
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">Color Ojos: {{item.appearance.eyecolor}}</mat-list-item>
          <mat-list-item role="listitem">Genero: {{item.appearance.gender}}</mat-list-item>
          <mat-list-item role="listitem">Color Cabello: {{item.appearance.haircolor}}</mat-list-item>
          <mat-list-item role="listitem">Estatura: {{item.appearance.height[1]}}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel hideToggle appMouseDirective>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Biografia
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">Nombre {{item.biography.fullname}}
          </mat-list-item>
        </mat-list>
        <mat-accordion>
          <mat-expansion-panel hideToggle appMouseDirective>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Alias
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item role="listitem" *ngFor="let bio of this.contenedor">
              <mat-list role="list" style="font-size: 12px;">{{bio}}</mat-list>
            </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-list role="list">
          <mat-list-item role="listitem">Alineacion: {{ item.biography.alignment }}</mat-list-item>
          <mat-list-item role="listitem">Alter-Egos: {{ item.biography.alteregos }}</mat-list-item>
          <mat-list-item role="listitem">Primera Aparicion: {{item.biography.firstappearance }}</mat-list-item>
          <mat-list-item role="listitem">Nacimiento: {{item.biography.placeofbirth}}</mat-list-item>
          <mat-list-item role="listitem">Publicación: {{item.biography.publisher}}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel hideToggle appMouseDirective>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Conexiones
          </mat-panel-title>
          <br>
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel hideToggle appMouseDirective>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Afiliaciones
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item role="listitem" *ngFor="let afil of item.connections.groupAffiliation">
              <mat-list role="list" style="font-size: 12px;">{{afil}}</mat-list>
            </mat-list-item>
          </mat-expansion-panel>
          <br>
        </mat-accordion>
        <mat-list role="list">
          <mat-list-item role="listitem">Parientes: {{ item.connections.relatives }}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel hideToggle appMouseDirective>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Estadisticas de Poder
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">Combate: {{ item.powerstats.combat}}</mat-list-item>
          <mat-list-item role="listitem">Resistencia: {{ item.powerstats.durability }}</mat-list-item>
          <mat-list-item role="listitem">Inteligencia: {{ item.powerstats.intelligence}}</mat-list-item>
          <mat-list-item role="listitem">Poder: {{ item.powerstats.power}}</mat-list-item>
          <mat-list-item role="listitem">Velocidad: {{ item.powerstats.speed}}</mat-list-item>
          <mat-list-item role="listitem">Fuerza: {{ item.powerstats.strength}}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel hideToggle appMouseDirective>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Trabajo
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem">Ubicación: {{ item.work.base}}</mat-list-item>
          <mat-list-item role="listitem">Ocupación: {{ item.work.occupation }}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>