.ClassImagenRadio {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cardLeft {
  margin-left: 50px;
}
.Avatar {
  /*tamaño de tu círculo */
  height: 400px;
  width: 600px;
  /*valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 100% auto;
  align-items: center;
}

.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 32px;
  font-size: 2rem;
}
.ratedStar {
  color: yellow;
}
.unratedStar {
  color: gray;
}

.bySide {
  display: inline-block;
}

.recuadroAccordeon {
  padding: 10px;
  border: 5px solid yellow;
  /* background-color: darkslateblue */
}

.recuadroNoAccordeon {
  /* background-color: darkslateblue */
}
